recursive-include SPARQLToSQL/static/css *.css
recursive-include SPARQLToSQL/static/js *.js
recursive-include SPARQLToSQL/static/img *.gif
recursive-include SPARQLToSQL *.sql
recursive-include SPARQLToSQL *.rdf
recursive-include SPARQLToSQL/templates *.html
recursive-include SPARQLToSQL *.db