html {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

body {
    background: url("../img/bg-white.gif");
}

h1 {
    font-size: x-large;
    font-weight: bold;
}

h2 {
    font-size: large;
}

.header {
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    vertical-align: top;
    justify-content: center;
}

.main {
    width: 100%;
    height:auto;
}

.db-selector {
	padding: 0 20px;
}

.sparql-section {
    width: 50%;
    float: left;
}

.sql-section {
    width: 50%;
    float: right;
}

.query-section {
    padding: 20px;
}

.query-section textarea {
    height: auto;
    width: 100%;
    min-height: 200px;
    max-width: 100%;
    justify-content: center;
    padding: 5px;
}

.form-section {
    padding: 10px;
    justify-content: center;
}

.form-section .message {
    display: inline-block;
    margin-left: 20px;
    padding: 10px 0;
}

.form-section .message-error {
    color: red;
}

.form-section .message-success {
    color: green;
}

.form-section button#submit {
    width: 150px;
    height: 30px;
}

.form-section button#run-query {
    width: 150px;
    height: 30px;
}

/*result section*/

.result p {
	margin: 0;
}

.result .search-group {
	display: block;
	width: 100%;
	padding: 10px 0;
}

.result .search-group .input-group-addon {
	height: 100%;
	width: 30px;
}

.result .search-group .search-input {
	width: 100%;
    padding: 5px;
}

/*table*/
table {
    display: inline-block;
	background: #f5f5f5;
	border-collapse: separate;
	box-shadow: inset 0 1px 0 #fff;
	font-size: 12px;
	text-align: left;
	width: auto;
}

th {
	background-color: grey;
	border-left: 1px solid #555;
	border-right: 1px solid #777;
	border-top: 1px solid #555;
	border-bottom: 1px solid #333;
	box-shadow: inset 0 1px 0 #999;
	color: #fff;
    font-weight: bold;
	padding: 10px 15px;
	position: relative;
	text-shadow: 0 1px 0 #000;
}

th:after {
	content: '';
	display: block;
	height: 25%;
	left: 0;
	margin: 1px 0 0 0;
	position: absolute;
	top: 25%;
	width: 100%;
}

th:first-child {
	border-left: 1px solid #777;
	box-shadow: inset 1px 1px 0 #999;
}

th:last-child {
	box-shadow: inset -1px 1px 0 #999;
}

th span {
	width: 100%;
	height: 100%;
	justify-content: center;
	cursor: pointer;
}

td {
	border-right: 1px solid #fff;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 15px;
	position: relative;
	transition: all 300ms;
}

td:first-child {
	box-shadow: inset 1px 0 0 #fff;
}

td:last-child {
	border-right: 1px solid #e8e8e8;
	box-shadow: inset -1px 0 0 #fff;
}

tr:last-of-type td {
	box-shadow: inset 0 -1px 0 #fff;
}

tr:last-of-type td:first-child {
	box-shadow: inset 1px -1px 0 #fff;
}

tr:last-of-type td:last-child {
	box-shadow: inset -1px -1px 0 #fff;
}
